.side-nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 300px;
  z-index: 1;
  background: #f2f2f0;
  border-left: 1px solid #e5e4e1;
  box-shadow: inset -2px 0 7px rgba(0, 0, 0, .1);
  transform: translate3d(300px, 0, 0);
  transition: transform .25s ease-out;
  overflow-x: hidden;
  overflow-y: scroll;
}
.side-nav.visible {
  transform: translateX(0);
}
.header {
  margin-bottom: 15px;
  padding: 25px 30px;
  font-size: 15px;
  color: #23565a;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}
.header-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
  right: 20px;
  height: 34px;
  width: 34px;
  transition: all ease 0.3s;
  cursor: pointer;
  border: 1px solid #8a9199;
  border-radius: 50%;
}
.header-button::after, .header-button::before {
  position: absolute;
  width: 25px;
  height: 1.5px;
  left: 50%;
  top: 50%;
  margin-top: -1px;
  margin-left: -12px;
  content: '';
  background: #8a9199;
  transition: all ease 0.3s;
}
.header-button:before {
  transform: rotate(-45deg);
}
.header-button:after {
  transform: rotate(45deg); 
}
.header-button:hover {
  transform: translateY(-50%) rotate(180deg);
  border-color: #f26a3d;
}
.header-button:hover:before,.header-button:hover:after {
  background-color: #f26a3d;
}
.menu {
  font-size: 16px;
  list-style: none;
}
.menu-item {
  padding: 25px 30px;
  margin-bottom: 0;
  cursor: pointer;
  position: relative;
  font-size: 20px;
  font-weight: 400;
  color: #212226;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-item:hover {
  background: rgba(0,0,0,0.05);
}
.menu-item:not(:last-child):after {
  content: '';
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 30px;
  width: 100%;
  background: rgba(0,0,0,0.1);
}
.menu-item.active:before {
  content: '';
  background: #f26a3d;
  position: absolute;
  height: 100%;
  width: 4px;
  left: 0;
  top: 0;
}
.menu-item.active {
  font-weight: 600;
  color: #000;
}