.menu-button {
  /* position: fixed;
  top: 0;
  right: 0; */
  display: inline-block;
  /* margin: 20px; */
  /* border: 1px solid #c2c7cc; */
  margin-left: 5px;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 8px;
  transition: all ease .3s;
  font-size: 16px;
  color: #8a9199;
  user-select: none;
}
.menu-button:hover {
  color: #2bb673;
  border-color: #2bb673;
}
.icon {
  display: inline-block;
  height: 30px;
  width: 30px;
  background: inherit;
}
.text {
  color: inherit;
  font-weight: bold;
}