.bg-gray {
  background-color: #f0f2f5;
}
.bg-white {
  background-color: #fff;
}
.flex-column {
  display:flex;
  flex-direction: column;
}


// 修改、去掉原有样式
p {
  margin: 0;
}
h4 {
  margin: 0;
}
li, ul {
  list-style: none !important;
  list-style-type: none !important;
  margin: 0;
  padding: 0;
}
ul {
  margin:0 ;
  padding: 0;
}
.app-main {
  display:flex;
  flex-direction: column;
}

.page-body {
  padding: 30px;
  flex: 1;
}
.card-margin-bottom {
  margin-bottom: 20px;
}


// 表单相关样式
.form-group-title {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
}
.form-group {
  padding-left: 20px;
  padding-right: 20px;
}
.form-item {
  // margin-bottom: 16px !important;
  display: flex;
  // align-items: center;
}
.form-input-block {
  margin-left: 20px;
  flex: 1 !important;
  display: flex !important;
  // margin-left: 100px;
}
.form-required:before {
  content: '*';
  display: inline-block;
  color: red;
  position:absolute;
  margin-left: -8px;
}
.form-label {
  display: inline-block;
  // position: absolute;
  position: relative;
  height: 38px;
  min-width: 120px;
  text-align: right;
  line-height: 38px;
}
// 覆盖element的form校验错误样式
.el-form-item__error {
  padding-top: 0px !important;
  font-size: 10px !important;
}
.el-form-item {
  // margin-bottom: 0px !important;
  flex: 1 !important;
}
.el-form-item__content {
  // display: flex !important;
  // line-height:20px !important;
  line-height:38px !important;
}


// 简略写法
.flex_space-between {
  display: flex;
  justify-content: space-between;
  align-items:center;
}
