.monitor {
  flex: 1;
  display:flex;
  align-items: strech;
  &-menu {
    width: 250px;
    border-right: 1px solid #f7f7f7;
    &-search {
    }
    &-content {
      text-align: center;
    }
    &-item {
      position: relative;
      padding: 8px;
      color: #666;
      font-size: 14px;
      cursor: pointer;
      &:hover {
        background-color: #f5f7fa;
      }
    }
    &-item-arrow {
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &-content {
    width: 100px;
    flex: 1;
    &-row {
      margin-left: 15px;
      display: flex;
      justify-content: space-between;
    }
    &-row:not(:first-child) {
      margin-top: 15px;
    }
  }

  .card-baseinfo {
    p {
      line-height: 25px;
    }
    &-left {
      display: flex;
    }
    &-left-1, &-left-2 {
      padding: 10px;
    }
    &-left-2 {
      .title {
        color: #777;
      }
    }
    &-left-1>img {
      width: 50px;
      height: auto;
    }
    &-left-1>h4 {
      color: #3fc9d5;
    }
    &-middle {
      display: flex;
      .code {
        font-weight: 500;
      }
    }
    &-right {
      display: flex;
      .code {
        font-weight: 500;
      }
    }
  }
  .card-switches {
    .card-switches-1_img {
      width: 80px;
      height: auto;
    }
    &-2 {
      text-align: center;
      &>p:first-child {
        font-size: 24px;
        margin-bottom: 10px;
      }
    }
    &-3, &-4 {
      p {
        margin-bottom: 10px;
      }
    }
  }
  .card-monitor-grid {
    color: #3598DC;
    &-row:not(:last-child) {
      margin-bottom: 10px;
    }
    &-item {
      background-color: #e7f1f5;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 15px;
      max-height: 205px;
      &-1>i {
        font-size: 44px;
      }
      &-2 {
        line-height: 30px;
        text-align: right;
        .title {
          font-size: 22px;
          margin-bottom: 10px;
        }
      }
    }
  }
}
