html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.hover-underline:hover {
  text-decoration: underline;
}

.clearfix:after{
  clear:both;
  content:"";
  display:block;
  height:0;
  visibility:hidden;
}
